<div id="EditTask" class="Page">
    <header>
        <button data-action="cancel" class="left">Cancel</button>
        <button data-action="save" class="highlight right">Save</button>
        <h1>New Task</h1>
    </header>
    <div role="content">
		<div role="wrapper"></div>
    </div>
    <script type="text/html" id="jstEditTask">
		<fieldset>
			<input name="name" type="text" placeholder="Enter Task Name" value="{!= task.name !}"/>
		</fieldset>
		<fieldset>
			<label>Every</label>
			<select name="repeat">
				{! for (var repeat in Repeat) { !}
					<option {!= (Repeat[repeat] == task.repeat)?"selected":"" !} value="{!= Repeat[repeat] !}">{!= repeat[0].toUpperCase() !}{!= repeat.substr(1, repeat.length-1) !}</option>
				{! } !}
			</select>
		</fieldset>
		<fieldset>
			<label data-action="setDate">Start On</label>
			<span id="EditTaskDue" data-action="setDate">{!= dateFormat(task.due) !}</span>
			<input type="hidden" name="due" value="{!= dateFormatBasic(task.due) !}"/>
		</fieldset>
        <!--
		<fieldset>
			<label>Time</label>
			<span id="EditTaskTime" data-action="setTime">{!= task.due.toString("hh:mm tt") !}</span>
			<input type="hidden" name="time" value="{!= task.due.toString("hh:mm tt") !}"/>
		</fieldset>
        --!>
		<fieldset>
			<label>Recur</label>
			<select name="repeatType">
				<option {!= (RepeatType.afterDue == task.repeatType)?"selected":"" !} value="{!= RepeatType.afterDue !}" >Regularly</option>
				<option {!= (RepeatType.afterComplete == task.repeatType)?"selected":"" !} value="{!= RepeatType.afterComplete !}" >After Completion</option>
			</select>
		</fieldset>
		{! if (showDelete) { !}
		<button data-action="deleteTask">Delete</button>
		{! } !}
    </script>
</div>

