<div id="EditTask" class="Page">
    <header>
        <button data-action="cancel" class="left">Cancel</button>
        <button data-action="save" class="highlight right">Save</button>
        <h1>New Task</h1>
    </header>
    <div role="content">
		<div role="wrapper"></div>
    </div>
    <script type="text/html" id="jstEditTask">
		<fieldset>
			<input id="EditTaskName" name="name" type="text" placeholder="Enter Task Name" value="{!= task.name !}"/>
		</fieldset>
		<fieldset>
			<label for="EditTaskDue">Due</label>
			<span id="EditTaskDue" data-action="setDate">{!= dateFormat(task.due) !}</span>
			<input type="hidden" name="due" value="{!= dateFormatBasic(task.due) !}"/>
		</fieldset>
		<fieldset>
			<label>Type</label>
			<select id="EditTaskRepeatType" name="repeatType">
				<option {!= (RepeatType.afterDue == task.repeatType)?"selected":"" !} value="{!= RepeatType.afterDue !}" >After Due</option>
				<option {!= (RepeatType.afterComplete == task.repeatType)?"selected":"" !} value="{!= RepeatType.afterComplete !}" >After Complete</option>
			</select>
		</fieldset>
		<fieldset>
			<label>Repeat</label>
			<select id="EditTaskRepeat" name="repeat">
				{! for (var repeat in Repeat) { !}
					<option {!= (Repeat[repeat] == task.repeat)?"selected":"" !} value="{!= Repeat[repeat] !}">{!= repeat !}</option>
				{! } !}
			</select>
		</fieldset>
		{! if (showDelete) { !}
		<button data-action="deleteTask">Delete</button>
		{! } !}
    </script>
</div>

