<!DOCTYPE HTML>
<html>
	<head>
		<title>Recurring</title>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no, maximum-scale = 1.0">

		{% for file in css_files %}
		<link rel="stylesheet" type="text/css" href="{{ css_path }}/{{ file }}"/>
		{% endfor %}
		{% if remote %}
		<script src="http://{{ remote }}:8081/target/target-script.js"></script>
		{% endif %}
	</head>
	<body class="{% if debug %} Debug{% else %} Release{% endif %}">
		<div id="PageContainer">
			{% include "task_list.html" %}
			{% include "edit_task.html" %}
		</div>
		{% if phonegap %}
			<script src="phonegap.js"></script>
			{% for file in phonegap_plugin_files %}
			<script src="{{ js_path }}/{{ file }}"></script>
			{% endfor %}
		{% endif %}
		{% for file in appui_files %}
		<script src="{{ appui_path }}/{{ file }}"></script>
		{% endfor %}
		{% for file in js_files %}
		<script src="{{ js_path }}/{{ file }}"></script>
		{% endfor %}
		<script>
			ui.ready(function() {
				if (false && ui.browser.isPhoneGap) {
					plugins.datePicker.show({ mode: 'date', date: Date.today().addDays(5) }, function(d) {
						console.log("callback:"+d);
					});
					plugins.localNotification.add({
						date: new Date().addMinutes(1).toString("MM/dd/yyyy hh:mm tt"),
						badge: 10,
					});
				}
				ui.mobile.disableScrollingPermanently();
				persistence.store.websql.config(persistence, 'Recurring', 'RecurringDb', 5 * 1024 * 1024);
				persistence.schemaSync(function(tx) {
					new TaskListController('TaskList');
				});
			});
			ui.resize(function(width, height) {
				var container = document.getElementById("PageContainer");
				container.style.width = width+"px";
				container.style.height = height+"px";
				ui.find(".Page div[role='content']", function(elem) {
					elem.style.height = (height - 42)+"px";
				});
			});
		</script>
	</body>
</html>
