<div id="TaskList" class="Page">
    <header> 
        <button class="right" data-action="add">+</button>
        <h1>Recurring</h1>
    </header>	
    <div role="content"></div>
    <script type="text/html" id="jstTaskList">
        <ul class="List">
        {! for (var i = 0, c = tasks.length; i < c; i++) { var task = tasks[i]; !}
            <li class="HBox" data-index="{!= i !}" data-id="{!= task.id !}">
                <input type="checkbox" data-action="complete"/>
                <div data-action="edit" class="name">{!= task.name !}</div>
                <div class="repeat">{!= task.repeatString() !}</div>
                <div class="due">{!= task.due !}</div>
                <button data-action="edit">Edit</button>
            </li>
        {! } !}
        </ul>
    </script>
</div>
