<div id="TaskList" class="Page">
    <header> 
        <button class="left" data-action="weinre">Weinre</button>
        <button class="large right" data-action="add">+</button>
        <h1>Recurring</h1>
    </header>	
	<div role="content">
		<ul class="List"></ul>
	</div>
    <script type="text/html" id="jstTaskList">
		{! var lastHeader = '';
			for (var i = 0, c = tasks.length; i < c; i++) { var task = tasks[i]; !}
				{! if (task.isOverdue()) { if(lastHeader != "overdue") { lastHeader = "overdue"; !}
				<li class="header">Overdue</li>
				{! } } else if (task.isDueToday()) { if (lastHeader != "today") { lastHeader = "today"; !}
				<li class="header">Today</li>
				{! } } else if (task.isDueTomorrow()) { if (lastHeader != "tomorrow") { lastHeader = "tomorrow"; !}
				<li class="header">Tomorrow</li>
			{! } } else if (lastHeader != "future") {  lastHeader = "future"; !}
				<li class="header">Future</li>
			{! } !}
            <li class="HBox" data-index="{!= i !}" data-id="{!= task.id !}">
                <input type="checkbox" data-action="complete"/>
				<div data-action="edit" class="name">
					{!= task.name || "Task" !}
					<div data-action="edit" class="comment">Due: {!= prettyDate(task.due) !} ({!= task.repeatString() !})</div>
				</div>
                <button class="details" data-action="edit"></button>
            </li>
        {! } !}
		{! if (tasks.length == 0) { !}
			<li class="help">You have no recurring tasks.  Click the + button to add a new task.</li>
		{! } !}
    </script>
</div>
